@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello</h1>

<MudButton OnClick="HandleGeneric">Generic exception</MudButton>
<MudButton OnClick="HandleBase">Base exception</MudButton>

@code {
    private void HandleGeneric()
    {
        throw new Exception("Hello world");
    }

    private void HandleBase()
    {
        throw new BaseException(ExceptionCode.InvalidOperation, "Hello world");
    }
}