@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello</h1>

<MudButton OnClick="HandleClick">Click me</MudButton>

@code {
    private void HandleClick()
    {
        throw new Exception("Ops");
    }
}